Repository jodavimehran/conquerdia, pull requests merged in 2019-11, with the labels that each got.

#58 Issue#47
  src/main/java/ca/concordia/encs/conquerdia/controller/command/DefendCommand.java
  src/main/java/ca/concordia/encs/conquerdia/model/Player.java
Labels: attack-phase, command

#59 Implementing the simulate attack intial battle with dice
  src/main/java/ca/concordia/encs/conquerdia/model/Battle.java
  src/main/java/ca/concordia/encs/conquerdia/model/Dice.java
  src/main/java/ca/concordia/encs/conquerdia/model/Player.java
Labels: attack-phase, command

#60 Issue#46
  src/main/java/ca/concordia/encs/conquerdia/controller/command/AttackCommand.java
  src/main/java/ca/concordia/encs/conquerdia/model/Battle.java
  src/main/java/ca/concordia/encs/conquerdia/model/DiceRoller.java
  src/main/java/ca/concordia/encs/conquerdia/model/Player.java
Labels: attack-phase, command

#61 #48: Implement AttackMove command
  src/main/java/ca/concordia/encs/conquerdia/model/Battle.java
  src/main/java/ca/concordia/encs/conquerdia/model/Player.java
Labels: attack-phase, command

#66 Issue#46
  src/main/java/ca/concordia/encs/conquerdia/controller/command/AttackCommand.java
  src/main/java/ca/concordia/encs/conquerdia/controller/command/AttackMoveCommand.java
  src/main/java/ca/concordia/encs/conquerdia/controller/command/DefendCommand.java
  src/main/java/ca/concordia/encs/conquerdia/model/Battle.java
  src/main/java/ca/concordia/encs/conquerdia/model/PhaseModel.java
  src/main/java/ca/concordia/encs/conquerdia/model/Player.java
  src/main/resources/maps/tiny.map
  src/test/java/ca/concordia/encs/conquerdia/model/BattleTest.java
Labels: attack-phase, bug

#75 Issue#65
  src/main/java/ca/concordia/encs/conquerdia/controller/command/AttackCommand.java
  src/main/java/ca/concordia/encs/conquerdia/model/Battle.java
  src/main/java/ca/concordia/encs/conquerdia/model/Player.java
Labels: attack-phase, bug

#77 Issue#76
  src/main/java/ca/concordia/encs/conquerdia/model/map/WorldMap.java
  src/main/java/ca/concordia/encs/conquerdia/model/map/io/ConquestMapIO.java
  src/main/java/ca/concordia/encs/conquerdia/model/map/io/ConquestMapReader.java
  src/main/java/ca/concordia/encs/conquerdia/model/map/io/ConquestMapWriter.java
  src/main/java/ca/concordia/encs/conquerdia/model/map/io/DominationToConquestMapReaderAdapter.java
  src/main/java/ca/concordia/encs/conquerdia/model/map/io/DominationToConquestMapWriterAdapter.java
  src/main/java/ca/concordia/encs/conquerdia/model/map/io/GameMap.java
  src/main/java/ca/concordia/encs/conquerdia/model/map/io/IGameMap.java
  src/main/java/ca/concordia/encs/conquerdia/model/map/io/IMapReader.java
  src/main/java/ca/concordia/encs/conquerdia/model/map/io/IMapWriter.java
  src/main/java/ca/concordia/encs/conquerdia/model/map/io/MapWriter.java
Labels: map

#80 Refactoring
  src/main/java/ca/concordia/encs/conquerdia/model/map/io/MapWriter.java
  src/test/java/ca/concordia/encs/conquerdia/model/map/io/ConquestMapWriterTest.java
  src/test/java/ca/concordia/encs/conquerdia/model/map/io/MapWriterTest.java
Labels: map

#82 Write javadocs and write test for battle
  src/main/java/ca/concordia/encs/conquerdia/model/Battle.java
  src/main/java/ca/concordia/encs/conquerdia/model/map/io/CountryRow.java
  src/main/java/ca/concordia/encs/conquerdia/model/map/io/IMapWriter.java
  src/test/java/ca/concordia/encs/conquerdia/model/BattleTest.java
Labels: bug
